javascript-old.js
portfolio_backup.html
src/discord.png
src/fonts/
src/github.png
src/github.svg
src/icon-tiktok.png
src/instagram.png
src/instagram.svg
src/linkedin.png
src/linkedin.svg
src/logo-black-1.png
src/logo-black.png
src/logo-old/
src/logo-white-1.png
src/logo.png
src/portfolio/
src/tiktok.png
src/video-1.mp4
style-backup.css
style-old.css
