@font-face {
  font-family: TT-Fellows-Bold;
  src: url("src/fonts/TT Fellows Bold.ttf");
}

@font-face {
  font-family: DIN-1451;
  src: url("src/fonts/DIN 1451 Engschrift.ttf");
}

@font-face {
  font-family: TT-Interphases-Pro-Light;
  src: url("src/fonts/TT Interphases Pro Light.ttf");
}

@font-face {
  font-family: TT-Interphases-Pro-Medium;
  src: url("src/fonts/TT Interphases Pro Medium.ttf");
}

@font-face {
  font-family: TT-Interphases-Pro-Bold;
  src: url("src/fonts/TT Interphases Pro Bold.ttf");
}

::-webkit-scrollbar {
  display: none;
}

html,
body {

  /*  background-color: #f2f2f2;*/
  background-color: red;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  z-index: 0;
}

a {
  text-decoration: none;
}

p,
a,
img,
div,
section {
  font-size: 1rem;
  user-select: none;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

section.container {
  height: auto;
  background-color: #f2f2f2;/*  background-color: transparent;*/
  flex-direction: row;
  justify-content: flex-end;
}

section.navbar {
  position: fixed;
  left: 0px;
  top: 0;
  width: calc(9vw * .99);
  background-color: #181818;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

section.main {
  position: absolute;
  height: auto;
  top: 0;
  right: 0;/*    width: 100%;*/
  width: calc(calc(91vw * .99) + calc(100vw * .01));
  flex-direction: column;
  background-color: #1D1D1D;
}

section.section-1 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

section.section-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

div.logo {
  height: 6rem;
  margin-top: 2rem;
}

div.nav-buttons {
  width: 100%;
  flex-direction: column;
  padding-top: 3rem;
}

div.nav-logos {
  margin-bottom: 22vh;
}

div.main {
  width: 30vw;
}

div.big-title {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10%;
  margin-left: 5%;
}

div.section-2 {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  width: 60%;
}

img.logo {
  width: 100%;
  filter: drop-shadow(0 0 20px rgba(242, 242, 242, .3));  /*  filter: drop-shadow(0 0 40px rgba(13, 13, 13, .6));*/
  z-index: 5;
}

img.icon {
  height: 2vh;
  margin: calc(.18vh + .18vw);
  padding: calc(.18vh + .18vw);/*  filter: drop-shadow(0 0 5px rgba(222, 222, 222, .4));*/
  transition-timing-function: ease;
  transition-duration: .2s;
}

img.icon:hover {
  filter: drop-shadow(0 0 10px rgba(239, 239, 239, .4));
  transition-timing-function: ease;
  transition-duration: .2s;
}

p.big-title {
  font-family: TT-Interphases-Pro-Bold;
  color: #FFFFFF;
  font-size: 5rem;
  margin: 0;
}

p.sub-title1 {
  font-family: TT-Interphases-Pro-Medium;
  font-size: 4rem;
  margin: 1rem 0;
  color: #00EDED;
}

p.sub-title2 {
  font-family: TT-Interphases-Pro-Light;
  font-size: 2rem;
  margin: 1.5rem 0;
  color: #909096;
}

p.filler-text {
  font-family: TT-Interphases-Pro-Medium;
  font-size: 1rem;
  margin: 1.5rem 0;
  color: #D5D5DE;
}

a.button-rect {
  font-family: TT-Interphases-Pro-Light;
  font-size: 1.2rem;
  margin-top: 2%;
  margin-left: 5%;
  padding: .6em 2.4em;
  border: #00EDED 1.5px solid;
  color: #00EDED;
  transition-duration: 0.2s;
}

a.button-rect:hover {
  background-color: #00EDED;
  color: #181818;
  transition-duration: 0.2s;
}

a.button-enabled,
a.button-disabled {
  width: 100%;
  font-family: TT-Interphases-Pro-Light;
  font-size: 1.1rem;
  padding: .9rem 0;/*  color: #FFFFFF;*/
  color: #909096;
  border-bottom: 1px solid #282828;
  text-align: center;
  transition-duration: 0.2s;
}

a.button-disabled:hover,
a.button-enabled {

  /*  color: #08FDD8;*/
  color: #FFFFFF;
  text-shadow: 0 0 20px rgba(239, 239, 239, .6);
  transition-duration: 0.2s;
}
