@font-face {
  font-family: TT-Fellows-Bold;
  src: url("src/fonts/TT Fellows Bold.ttf");
}

@font-face {
  font-family: DIN-1451;
  src: url("src/fonts/DIN 1451 Engschrift.ttf");
}

@font-face {
  font-family: TT-Interphases-Pro-Light;
  src: url("src/fonts/TT Interphases Pro Light.ttf");
}

::-webkit-scrollbar {

  /*  display: none;*/
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1D1D1D;
}

::-webkit-scrollbar-thumb {
  background: #424242;/*  border-radius: 4px;*/
}

::-webkit-scrollbar-thumb:active {
  background: #D9D9D9;
}

html,
body {

  /*  background-color: #f2f2f2;*/
  background-color: red;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  z-index: 0;
}

a {
  text-decoration: none;
}

p,
a,
img,
div,
section {
  font-size: 1rem;
  user-select: none;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

section.container {
  height: auto;
  background-color: #f2f2f2;/*  background-color: transparent;*/
  flex-direction: row;
  justify-content: flex-end;
}

section.navbar {
  position: fixed;
  left: 20px;
  top: 0;
  width: calc(9vw * .99);
  background-color: #181818;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

section.main {
  height: auto;/*  width: 100%;*/
  width: calc(calc(calc(91vw * .99) + calc(100vw * .01)) - 8px);
  flex-direction: column;
  background-color: #1D1D1D;
}

div.logo {
  height: 6rem;
  margin-top: 2rem;
}

div.nav-buttons {
  width: 100%;
  background-color: pink;
  flex-direction: column;
/*  padding-top: 3rem;*/
}

div.nav-logos {
  margin-bottom: 22vh;
}

div.main {
  width: 30vw;
}

img.logo {
  height: 100%;
  filter: drop-shadow(0 0 20px rgba(242, 242, 242, .3));  /*  filter: drop-shadow(0 0 40px rgba(13, 13, 13, .6));*/
  z-index: 5;
}

img.icon {
  height: 2vh;
  margin: calc(.18vh + .18vw);
  padding: calc(.18vh + .18vw);/*  filter: drop-shadow(0 0 5px rgba(222, 222, 222, .4));*/
  transition-timing-function: ease;
  transition-duration: .2s;
}

img.icon:hover {
  filter: drop-shadow(0 0 10px rgba(239, 239, 239, .4));
  transition-timing-function: ease;
  transition-duration: .2s;
}

a.button-enabled,
a.button-disabled {
  width: 100%;
  background-color: #1A4CFF64;
  font-family: TT-Interphases-Pro-Light;/*  font-size: 1.1rem;*/
  font-size: .6rem;
  padding: .9rem;/*  color: #FFFFFF;*/
  border-bottom: 1px solid #282828;
  text-align: center;
  color: #909096;
  transition-duration: 0.2s;
}

a.button-disabled:hover,
a.button-enabled {

  /*  color: #08FDD8;*/
  color: #FFFFFF;
  text-shadow: 0 0 20px rgba(239, 239, 239, .6);
  transition-duration: 0.2s;
}
