@font-face {
  font-family: TT-Fellows-Bold;
  src: url("src/fonts/TT Fellows Bold.ttf");
}

@font-face {
  font-family: DIN-1451;
  src: url("src/fonts/DIN 1451 Engschrift.ttf");
}

@font-face {
  font-family: TT-Interphases-Pro-Light;
  src: url("src/fonts/TT Interphases Pro Light.ttf");
}

::-webkit-scrollbar {
  display: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0D0D0D;
}

::-webkit-scrollbar-thumb {
  background: #F2F2F2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background: #D9D9D9;
}

html,
body {

  /*  background-color: #f2f2f2;*/
  background-color: red;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 0;
}

a {
  text-decoration: none;
}

p,
a,
img,
div {
  user-select: none;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

section.container {
  height: auto;
  background-color: #f2f2f2;/*  background-color: transparent;*/
  flex-direction: row;
}

section.navbar {

  /*  height: 90vh;*/
  width: calc(9vw * .99);
  background-color: #181818;
  flex-direction: column;
}

section.main {

  /*  height: 70vh;*/

  /*  width: ;*/
  background-color: #1D1D1D;
  color: #08FDD8;
  color: #FFFFFF;
  color: #909096;
}

div.logo {
  height: 100px;
  width: 100%;
}

div.nav-buttons{
  
}

div.nav-logos{
  
}

img.logo {
  height: 100%;
  filter: drop-shadow(0 0 20px rgba(242, 242, 242, .3));  /*  filter: drop-shadow(0 0 40px rgba(13, 13, 13, .6));*/
  z-index: 5e;
}

img.icon {
  height: 3vh;
  margin: calc(.2vh + .2vw);
  padding: calc(.2vh + .2vw);
  filter: drop-shadow(0 0 5px rgba(222, 222, 222, .4));
  transition-timing-function: ease;
  transition-duration: .2s;
}

img.icon:hover {
  filter: drop-shadow(0 0 15px rgba(222, 222, 222, .4));
  transition-timing-function: ease;
  transition-duration: .2s;
}
